* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    width: 100%;
    background-color: lightpink;
    top: 0;
}

nav .logo {
    font-weight: 500;
}

.menuItems {
    display: flex;
    align-items: center;
}

.menuItems li {
    list-style-type: none;
    padding-left: 40px;
    font-weight: 500;
}

.menuItems li a {
    text-decoration: none;
    color: rgb(14, 14, 14);
}

.menuItems a:hover {
    text-decoration: underline;
}

.btn-account {
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
}

.btn-account:hover {
    color: lightpink;
    background-color: #fff;
}

.bars {
    display: none;
}

.listItems, .menu-bars {
    display: none;
}


#display-section >.display-sect {
    display: flex;
    justify-content: space-between;
    /* width: 100%;
    padding: 20px; */
}

#display-section >.display-sect> .images > a >img {
    height: 300px;
    width: 600px;
    margin: 20px;
    max-width: fit-content;
}
#display-section >.display-sect> .images >p{
    margin: 30px;
}

#display-section > h4{
    justify-content: center;
    font-size: 40px;
    margin: 30px;
}
footer {
    background: #f7fbfc;
    padding: 50px 30px;
}

footer h3 {
    margin-bottom: 20px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 6px;
    font-weight: 200;
}

.footer-section .form-input input {
    padding: 5px 20px;
    width: 250px;
}

.form-input button {
    margin-left: -6px;
    border: 1px solid #FBC0CB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FBC0CB;
    padding: 6px 15px;
    color: #f7fbfc;
}


