@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    width: 100%;
    background-color: lightpink;
}

nav .logo {
    font-weight: 700;
}

nav .logo a {
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-size: 24;
}

.menuItems {
    display: flex;
    align-items: center;
}

.menuItems li {
    list-style-type: none;
    padding-left: 40px;
    font-weight: 500;
}

.menuItems li a {
    text-decoration: none;
    color: rgb(14, 14, 14);
}

.menuItems a:hover {
    text-decoration: underline;
}

.btn-account {
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
}

.btn-account:hover {
    color: lightpink;
    background-color: #fff;
}

.bars {
    display: none;
}

.listItems, .menu-bars {
    display: none;
}

/* Main */

main {
    position: absolute;
    z-index: -1;
    top: 150px;
}

.section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

}

.maiden-details, .maiden-photo {
    width: 50%;
}

.maiden-details p {
    font-weight: 300;
    color: #576366;
    font-size: 16px;
    line-height: 1.6;
}

.maiden-details h1, p {
    padding-bottom: 15px;
    padding-right: 50px;
    line-height: 1.5;
}

.btn-maiden {
    padding: 10px 15px;
    border: 1px solid lightpink;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
}
.section-one > .maiden-details > .btn-maiden:hover{
    background-color: #FBC0CB;

}

.btn-maiden:hover {
    background-color: #FBC0CB;
}

.mother-child2 {
    width: 100%;
}

/* Section Two */
.section-two {
    margin-top: 50px;
    background-color: #f7fbfc;
    padding: 50px 30px;

}

.therapies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    width: 100%;
}

.therapies .pre, .post, .partum {
    background-color: #fff;
    padding: 20px;
    width: 30%;
}

.therapies h4 {
    margin-bottom: 10px;
}

.therapies p {
    font-weight: 300;
    color: #576366;
    font-size: 16px;
    line-height: 1.6;
}

.read-more {
    display: block;
    font-weight: 200;
}

/* Section Three */
.section-three {
    padding: 0 30px;
}

.section-three h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.our-stories {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;

}

.pre-natal, .post-natal, .swaddling {
    width: 30%;
}

.stories-img {
    width: 100%;
    /* margin-bottom: 20px; */
}

.our-stories p {
    font-weight: 300;
    padding: 20px 10px;
    background: #fef8f9;
    color: #576366;
    font-size: 16px;
    line-height: 1.6;

}

/* Footer */
hr {
    margin-bottom: 15px;
    opacity: .2;
}

footer {
    background: #f7fbfc;
    padding: 50px 30px;
}

footer h1 {
    margin-bottom: 20px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 6px;
    font-weight: 200;
}

.footer-section .form-input input {
    padding: 5px 20px;
    width: 250px;
}

.form-input button {
    margin-left: -6px;
    border: 1px solid #FBC0CB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FBC0CB;
    padding: 6px 15px;
    color: #f7fbfc;
}


@media only screen and (max-width: 1024px) {

    body {
        position: relative;
    }

    /* nav */

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: fixed;
        width: 100%;
        background-color: lightpink;
    }

    .logo {
        font-size: small;
    }

    .menuItems, .listItems {
        display: none;
    }

    .menu-bars {
        display: block;
    }
    

    .listItems {
        position: fixed;
        top: 60px;
        /* left: 20px; */
        padding: 20px;
        background-color: lightpink;
        width: 100%;
    }

    .listItems li {
        list-style-type: none;
        padding-bottom: 20px;
    }

    .listItems li a{
        text-decoration: none;
        font-size: large;
        font-weight: 500;
        color: rgb(14, 14, 14);
    }

    /* Main */
    main {
        position: absolute;
        z-index: -1;
        top: 100px;
    }

    /* Section One */
    .section-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .maiden-details, .maiden-photo {
        width: 50%;
    }

    .maiden-details h1, p {
        padding-bottom: 15px;
        padding-right: 10px;
    }

    .maiden-details button {
        border: 1px solid #FBC0CB;
        padding: 12px 24px;
        background: #fff;
    }

    .mother-child2 {
        width: 100%;
    }

    /* Section Two */
    .therapies {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }

    .therapies .pre, .post, .partum {
        background-color: #fff;
        padding: 20px;
        width: 30%;
    }

    .therapies h4 {
        margin-bottom: 10px;
    }

    .therapies p {
        font-weight: 300;
        color: #576366;
        font-size: 16px;
        line-height: 1.6;
    }

    .read-more {
        display: block;
        font-weight: 200;
    }

    /* Section Three */
    .section-three {
        padding: 0 30px;
    }

    .section-three h1 {
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .our-stories {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .pre-natal, .post-natal, .swaddling {
        width: 30%;
    }

    .stories-img {
        width: 100%;
        /* margin-bottom: 20px; */
    }

    .our-stories p {
        font-weight: 300;
        padding: 20px 10px;
        background: #fef8f9;
        color: #576366;
        font-size: 16px;
        line-height: 1.6;
    }

    /* Footer */

    footer {
        background: #f7fbfc;
        padding: 50px 30px;
    }

    footer h1 {
        margin-bottom: 20px;
    }

    .footer-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-section h4 {
        margin-bottom: 10px;
    }

    .footer-section ul {
        list-style-type: none;
    }

    .footer-section ul li {
        margin-bottom: 6px;
        font-weight: 200;
    }

    .footer-section .form-input input {
        padding: 5px 20px;
        width: 150px;
    }

    .form-input button {
        margin-left: -6px;
        border: 1px solid #FBC0CB;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #FBC0CB;
        padding: 6px 15px;
        color: #f7fbfc;
    }


}

@media only screen and (max-width: 900px) {

    .section-one {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .maiden-photo {
        margin-bottom: 20px;;
    }

    .maiden-details, .maiden-photo {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    /* Footer */
    .footer-section {
        display: flex;
        flex-direction: column;
    }

    .footer-section h4 {
        margin-bottom: 10px;
    }

    .footer-section ul {
        list-style-type: none;
    }

    .footer-section ul li {
        margin-bottom: 6px;
        font-weight: 200;
    }

    .footer-section .form-input input {
        padding: 5px 20px;
        width: 200px;
    }

    .contact-info, .form-input, .quick-links {
        width: 100%;
        margin-bottom: 30px;
    }


}

@media only screen and (max-width: 640px) {

    /* Section Two */
    .therapies {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    .therapies .pre, .post, .partum {
        background-color: #fff;
        margin-bottom: 20px;
        width: 100%;
    }

    /* Section Three */
    .our-stories {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    .pre-natal, .post-natal, .swaddling {
        background-color: #fff;
        margin-bottom: 20px;
        width: 100%;
    }
}