* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    width: 100%;
    background-color: lightpink;
    z-index: 2;
}

nav .logo {
    font-weight: 50;
}

.menuItems {
    display: flex;
    align-items: center;
}

.menuItems li {
    list-style-type: none;
    padding-left: 40px;
    font-weight: 500;
}

.menuItems li a {
    text-decoration: none;
    color: rgb(14, 14, 14);
}

.menuItems a:hover {
    text-decoration: underline;
}

.btn-account {
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 500;
}

.btn-account:hover {
    color: lightpink;
    background-color: #fff;
}

.bars {
    display: none;
}

.listItems, .menu-bars {
    display: none;
}

/* end header */

/* main */

main {
    position: absolute;
    top: 120px;
    padding: 0 30px;
}

.therapyHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    
}

.therapyText {
    margin-left: 100px;
    color: black;
    font-size: x-large;
}

.therapyText p {
    width: 80%;
}


/* end main */


/* footer */
footer {
    position: absolute;
    top: 1500px;
    background: #f7fbfc;
    padding: 50px 30px;
    width: 100%;
}

footer h3 {
    margin-bottom: 20px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 6px;
    font-weight: 200;
}

.footer-section .form-input input {
    padding: 5px 20px;
    width: 250px;
}

.form-input button {
    margin-left: -6px;
    border: 1px solid #FBC0CB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FBC0CB;
    padding: 6px 15px;
    color: #f7fbfc;
}

/* congent one */
.btn1{
    background-color:rgb(15, 104, 238);
    color: white;
    border: none;
    font-size: medium;
    border-radius: 10px;
    height: 40px;
    margin-top: 30px;
    width: 200px;
}
.topy{
    color: rgb(15, 104, 238);
}
.therapyText h1{
    color: rgba(1, 1, 82, 0.986);
}
.therapyText p{
    color: grey;
    margin-top: 20px;   
}
.speciality{
    text-align: center;
    margin-top: 40px;

}
.spec{
    height: 30px;
    background-color: lightpink;
    border: none;
    color: white;
    width: 100px;
    border-radius: 10px;
}
.speciality h2{
    color: rgba(1, 1, 82, 0.986);
    font-size: xx-large;
}
.speciality p{
    color: grey;
    font-size: larger;
    text-align: center;
    color: rgb(15, 104, 238)
}
.speciality li{
    list-style-type:none;
    text-align:center;
    display: inline;
    padding: 30px;
}
.post{
    text-align: center;
    padding-top: 20px;
    width: 400px;
    height: auto;
    border: 2px solid lightpink;
    padding: 20px;
}
.post p{
    padding: 5px;
}
.post h1{
    color: rgb(15, 104, 238)
}
.ppcare{
    text-align: center;
    padding:20px;
    width: 400px;
    border: 2px solid lightpink;
    padding: 20px;
}
.ppcare h1{
    color: rgb(15, 104, 238)
}
.ppcare h1{
    color: rgb(15, 104, 238)
}
.during{
    text-align: center;
    padding:20px;
    width: 400px;
    height: auto;
    border: 2px solid lightpink;
    padding: 20px;
    
}
.during h1{
    color: rgb(15, 104, 238)
}
.after{
    text-align: center;
    padding:20px;
    width: 400px;
    height: auto;
    border: 2px solid lightpink;
    padding: 20px;
    
}


.after h1{
    color: rgb(15, 104, 238) 

}
.eat{
    text-align: center;
    padding:20px;
    width: 400px;
    height: auto;
    border: 2px solid lightpink;
    padding: 20px;
  
}
.eat h2{
    color: rgb(15, 104, 238)
}
.viginal{
    text-align: center;
    padding:20px;
    width: 400px;
    height: auto;
    border: 2px solid lightpink;
    padding: 20px;

}
.viginal h2{
    color: rgb(15, 104, 238);
}
.us{
    align-self:center;
    text-align: center;
    padding:20px;
    width: 600px;
    height: auto;
    border: 2px solid lightpink;
    padding: 20px;
  
}
.us h1{
    color: rgb(15, 104, 238)
}

.box{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
   
  
}
.box1{
    display: flex;
   justify-content: space-between;
   margin-top: 10px;
   font-size: large;
   font-weight: bold;
   
 
}
.box2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
}